.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}
.form-control{
    background-color: rgba(243, 242, 242, 0.198);
    color: black;
    font-weight: bolder;

}
.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}
.border-right{
border-right:  1px solid #000000!important;
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.mainPage{
    height: auto;
    border: black 2px solid;
}

.labels{
    font-weight: bolder;
}

body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
  }
  
  .file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    background-color: #4245a8;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  }
  
  .file-input__label svg {
    height: 16px;
    margin-right: 4px;
  }
  .pp{
      width: 150px;
      height: 150px;
      border-radius: 50%;
  }