<!-- ======= Header ======= -->
<header id="header" class="fixed-top nabare">
  <div class="container d-flex align-items-center justify-content-lg-between">

    <h6 class="logo">
      Secured World
    </h6> <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="../../../assets/img/demo/logo.png" alt="#" class="img-fluid"></a>-->


    <div class="dropdown">
      <a class="get-started-btn scrollto" type="button" routerLink="/login" routerLinkActive="active">
        Login
      </a> &nbsp;
      <a class="get-started-btn scrollto" type="button" id="dropdownMenu2" data-toggle="dropdown" routerLink="/register"
        routerLinkActive="active">
        Register Yourself
      </a>
    </div>
  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>Secure Yourself With
          <div class="typewriter">
            <span>Secured World !</span>
          </div>
        </h1>
        <h2>We are who keep your data anonomus and secured</h2>
      </div>
    </div><br>
    <a class="get-started-btn scrollto" type="button" routerLink="/login" routerLinkActive="active">
      Get Started
    </a><br>
    <br>
    <br>
    <!-- <span class="tagline">We Offers ....</span> -->

    <div class="row gy-4 mt-3 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-store-line"></i>
          <h3><a>End-To-End Encrypted</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-bar-chart-box-line"></i>
          <h3><a>Security by Default
          </a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-calendar-todo-line"></i>
          <h3><a>Document Sharing Made Easy</a></h3>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End Hero -->


<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="../../../assets/img/pgp-encryption-hero.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>What is Data Encryption?</h3>
          <p class="fst-italic">
            Encryption is a method of encoding data (messages or files) so that only authorized parties can read or
            access that data. Encryption software uses complex algorithms to scramble the data being sent. Once
            received, the data can be decrypted using a key provided by the originator of the message. The effectiveness
            of encryption technology is determined by the strength of the algorithm, the length of the key, and the
            appropriateness of the encryption system selected.
          </p>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="image col-lg-6" style='background-image: url("../../../assets/img/cryptogr.gif");'
          data-aos="fade-right"></div>
        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
          <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-receipt"></i>
            <h4>Security Across Multiple Devices
            </h4>
            <p>With smartphones and other mobile devices gaining popularity in recent years, many companies have
              struggled to find a solution for keeping the data stored and passed through these devices safe from
              potential theft.</p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-cube-alt"></i>
            <h4>Move Data Securely

            </h4>
            <p>One of the most vulnerable aspects of data emerges during the transport process.
              While SSL/TLS is the industry standard for data in motion it has many disadvantages for your data
              security.
              An effective encryption solution helps to ensure that data is protected at all times, at rest and in
              motion. Files that are shared or uploaded to cloud systems should be to ensure that the files remain safe
              throughout the transport process.

            </p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-images"></i>
            <h4>Integrity Maintained

            </h4>
            <p>One of the worries that many organizations of all sizes share is whether or not the encryption process
              will affect the integrity of their data. Although data theft is a very common problem, another way for
              hackers to commit data fraud is to knowingly alter the data that is available. </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>What we Offers...</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <!-- <img src="../../../assets/img/demo/use/dashb.jpeg"> -->
            <div class="icon"><i class="fa fa-comments-o"></i></div>
            <h4><a href="">Text Encryption</a></h4>
            <p>You can directly send Your text to reciver without letting aybody know.</p>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-image"></i></div>
            <h4><a href="">Image Encryption</a></h4>
            <p>You Can Either Encrypt the image or directly send to the reciver , Its End-To-End Encrypted</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-file"></i></div>
            <h4><a href="">PDF Encryption</a></h4>
            <p>You Can Either Encrypt the PDF or directly send to the reciver , Its End-To-End Encrypted</p>
          </div>
        </div>







      </div>

    </div>
  </section><!-- End Services Section -->

  <section class="contactUs">


  </section>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="d-flex justify-content-between ">
          <div class="footer-info">
            <h3>SECURED WORLD<span>.</span></h3>
            <p>
              <strong>Phone:</strong> +91 9960776997<br>
              <strong>Email: </strong> &nbsp; <a href="mailto:{{mail}}">securedworld3@gmail.com</a><br>
            </p>
          </div>
        
          <div class="footer-info">
              <h3>MESSAGE US<span>.</span></h3>
           <p>
             <textarea class="form-control" placeholder="Enter Your Querry" [(ngModel)]="msgObj.message"></textarea>
             <input class="form-control my-1" placeholder="Enter Your Email" [(ngModel)]="msgObj.email"><br>
             <input class="btn btn-primary" value="Message Us" (click)="onnMsgSend()">
            </p>

            </div>
        
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>SECURED WORLD</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a>SECURED WORLD</a>
      </div>
    </div>
  </footer>