<section class="cover">
    <div class="">
        <div class="container ">
            <div class="col-md-12 text-center my-3">
                <button class="btn btn-primary" (click)="setUserChoice('sendMsg')">Send Encrypted Image</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" (click)="setUserChoice('encrptImg')">Encrypt Image</button>
            </div>
        </div>

        <div class="contact-form" *ngIf="userChoice == true">
            <div class="waviy" *ngIf="sendMsg == true">
                <span style="--i:1">S</span>
                <span style="--i:2">E</span>
                <span style="--i:3">N</span>
                <span style="--i:4">D</span>
                <span style="--i:5"> &nbsp;</span>

                <span style="--i:6">I</span>
                <span style="--i:7">M</span>
                <span style="--i:8">A</span>
                <span style="--i:9">G</span>
                <span style="--i:10">E</span>

            </div>
            <div class="waviy" *ngIf="sendMsg == false">
                <span style="--i:1">E</span>
                <span style="--i:2">N</span>
                <span style="--i:3">C</span>
                <span style="--i:4">R</span>
                <span style="--i:5"> P</span>

                <span style="--i:6">T</span>
                <span style="--i:7">&nbsp;</span>
                <span style="--i:8">I</span>
                <span style="--i:9">M</span>
                <span style="--i:10">A</span>
                <span style="--i:10">G</span>
                <span style="--i:10">E</span>


            </div>


            <form (ngSubmit)="onSubmit()" [formGroup]="imgEncForm" autocomplete="off">
                <!-- <i class="icon-info-sign"></i> -->
                <!-- <h3 *ngIf="sendMsg == true" > Send Image </h3> -->
                <!-- <h3 *ngIf="sendMsg == false" > Encrpt Image </h3> -->


                <div class="row">
                    <div class="col-md-6">

                        <div class="mb-3">
                            <label for="formFile" class="form-label">Select File :</label>
                            <input id="file-upload" type="file" formControlName="file" name="file"
                                (change)="onChnageFile($event.target.files)" />
                        </div>

                        <div class="form-group">
                            <input type="text" formControlName="key" name="key" class="form-control"
                                placeholder="Secure Key *" value="" />
                        </div>
                        <div *ngIf="sendMsg == true">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                formControlName="multiSend" name="multiSend" (change)="onChangeMultiSend($event)">
                            <label class="form-check-label" for="flexCheckDefault">
                                Do You Want to Send to Multiple Users.
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group" *ngIf="sendMsg == true">
                            <input type="text" formControlName="userId" name="userId" class="form-control"
                                placeholder="Receiver UserId *" value="" />
                        </div>
                        <div class="showUserDetails" *ngIf="userDetilsShow == true">
                            <p>
                                <b>UserName</b> : {{userDetils?.completeName}} <br>
                                <b>Email</b> : {{userDetils?.emailId}}<br>
                                <b>City</b> : {{userDetils?.city}} <br>
                                <b>State</b> : {{userDetils?.state}}
                            </p>
                        </div>
                        <br>
                        <div class="form-group" *ngIf="sendMsg == true && userDetilBtnShow==true">
                            <input type="button" class="btnContact" value="Check User Details"
                                (click)="getUserDetails()" />
                        </div>
                        <button type="submit" class="btn btn-primary" *ngIf="sendMsg == true">Send Message</button>
                        <button type="submit" class="btn btn-primary" *ngIf="sendMsg == false">Encrypt Image</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>