<section class="cover">
  <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Hey !, </strong>We found that your profile is incomplete please fill all the details in profile tab.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  
  <div class="content">
    <div class="waviy">
      <span style="--i:1">S</span>
      <span style="--i:2">E</span>
      <span style="--i:3">C</span>
      <span style="--i:4">U</span>
      <span style="--i:5">R</span>

      <span style="--i:6">E</span>
      <span style="--i:7">D</span>
      <span style="--i:8">&nbsp;</span>
      <span style="--i:9">W</span>
      <span style="--i:10">O</span>
      <span style="--i:11">R</span>
      <span style="--i:12">L</span>
      <span style="--i:13">D</span>


  </div>
  
  <br><br><br><br><br>
    <h2 class="heading">We are here<br />for Securing your Data.</h2>
    <p>lets start using secure communications techniques with us</p>
    <div class="cta-btn">
      <a class="sidebar-toggler js-sidebar-toggler">Get Started</a>
    </div>
  </div>
  <div id="rcorners3">
  </div>
  <Strong class="e2e">END-TO-END ENCRYPTION
  </Strong>


</section>