.contact-form{
    background: rgba(214, 208, 208, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(214, 208, 208, 0.3);
    /* height: 390px; */
    width:800px;
    color: white;
    margin-top: 30px;
    }
section.cover{
    margin-top: 20px;
    background-image: url(../../../assets/img/loginbg.jpg);
    padding: 20px 10%;
      border-bottom: 50px solid transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* height: 700px; */
  }
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 13%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #f9fafb;
}
.contact-form .btnContact {
    width: auto;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #bece65;
    font-weight: 600;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
.container{
    height: fit-content;
}
.showUserDetails {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
    width: 300px;
    height: 100px;
  }
  .form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    font-family: roboto;
    color: #151719;
    background-color: #eeedf1;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgb(0 0 0 / 47%);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
 h3{
    color: white;
    font-weight: bolder;
    font-family: cursive;
    text-decoration: none;
  }