<div class="page-brand">
    <a class="link" routerLink="/index">
        <span class="brand">
            <img src="../../../assets/img/logo2.jpeg">
        </span>
      
    </a>
</div>
<div class="flexbox flex-1">
    <!-- START TOP-LEFT TOOLBAR-->
    <ul class="nav navbar-toolbar">
        <li>
            <a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="ti-menu"></i></a>
        </li>
        <li>
        </li>
        <li>
        </li>
         
    </ul>
    <!-- <b>Choosing a Hard to get and easy to rember password is important</b> -->

    <ul class="nav navbar-toolbar">
        <li class="dropdown dropdown-user">
            <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
             <h6 style="margin: 0;">Welcome</h6>
                <b><ul>{{userName}}  <img *ngIf="showAlertIcon == true" src="../../../assets/img/notification.png" alt="" style="width: 20px;"></ul></b>
                <span></span><i class="fa fa-angle-down m-l-5"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" routerLink="/message" routerLinkActive="active">
                    <i *ngIf="showAlertIcon == false" class="fa fa-bell"></i>
                    <img *ngIf="showAlertIcon == true" src="../../../assets/img/notification.png" alt="" style="width: 20px;">
                    Notifications</a>
                <a class="dropdown-item" routerLink="/user" routerLinkActive="active"><i class="fa fa-user"></i>Profile</a>
                <!-- <a class="dropdown-item" href="profile.html"><i class="fa fa-cog"></i>Settings</a> -->
                <a class="dropdown-item" routerLink="/support"><i class="fa fa-support"></i>Support</a>
                <li class="dropdown-divider"></li>
                <a class="dropdown-item" (click)="logout()"><i class="fa fa-power-off"></i>Logout</a>
            </ul>
        </li>
    </ul>
</div>
